@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #FFFFFF;
  color: #003399;
}

/* Style éditorial et bordures */
.border-editorial {
  border-top: 2px solid #003399;
  border-bottom: 2px solid #003399;
}

/* Personnalisation des menus déroulants et liens */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #003399;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  z-index: 10;
}

.group:hover .dropdown-menu {
  display: block;
}