/* ==========================================================================
   INSTITUT THÉOPHILE OBENGA - STYLES GLOBAUX (CSS)
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #003399;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

/* Lignes de structure éditoriale */
.border-editorial {
  border-top: 3px solid #003399;
}

.border-editorial-thin {
  border-top: 1px solid #003399;
}

/* Menus déroulants (Dropdowns desktop) */
.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Transitions douces */
a, button {
  transition: all 0.2s ease-in-out;
}